body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visaully-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secodary-bg-color: #f5f4fa;
  --contrast-bg-color: #2f303a;
}

.logo {
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: flex;
}

.header__logo {
  margin-right: 93px;
}

.footer__logo {
  color: var(--primary-bg-color);
}

.logo--accent {
  color: var(--accent-color);
}

.page-header {
  background-color: #fff;
  border-bottom: 1px solid rgb(236, 236, 236);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-header .container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav__item {
  position: relative;
  overflow: hidden;
  margin-left: 50px;
}
.site-nav__item:first-child {
  margin-left: 0;
}

.site-nav__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link::after {
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
  bottom: 0px;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  background-color: var(--accent-color);
}
.site-nav__link--active {
  color: var(--accent-color);
}
.site-nav__link:hover::after, .site-nav__link:focus::after, .site-nav__link--active::after {
  transform: translateY(0);
}

.connect__item {
  display: flex;
  align-items: baseline;
  margin-left: 50px;
}
.connect__item:first-child {
  margin-left: 0;
}

.connect__link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link:hover, .connect__link:focus {
  color: var(--accent-color);
}

.connect__icon {
  padding: 0;
  margin-left: 0;
  margin-right: 10px;
  fill: #757575;
}
.connect__link:hover .connect__icon, .connect__link:focus .connect__icon {
  fill: #2196f3;
}

.connect {
  display: flex;
}

.backdown {
  margin-left: auto;
}

.hero {
  padding: 118px 15px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mob-2x.jpg);
    background-color: #2f303a;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tab-2x.jpg);
    background-color: #2f303a;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-2x.jpg);
    background-color: #2f303a;
  }
}

.hero-container {
  text-align: center;
}

.hero-title {
  max-width: 360px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  /* outline: 1px solid tomato; */
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    max-width: 696px;
  }
}

.feature__title {
  margin: 0;
  padding: 0;
}

.feature__list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.feature__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .feature__item {
    width: calc(50% - 30px);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    width: calc(25% - 30px);
    margin-right: 30px;
  }
}
.feature__item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(245, 244, 250);
  margin-bottom: 30px;
}
.feature__item::before:nth-child(4) {
  margin-right: 0;
}

.feature__icon--antenna::before {
  background-image: url(../images/antenna.svg);
  background-size: 70px;
}

.feature__icon--clock::before {
  background-image: url(../images/clock.svg);
  background-size: 70px;
}

.feature__icon--diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px;
}

.feature__icon--astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 70px;
}

.feature__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.feature__text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}

.engage {
  padding-top: 0;
}

.engage-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.engage-list {
  display: flex;
  justify-content: center;
}

.section.engage {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section.engage {
    display: flex;
  }
}
.engage-item {
  position: relative;
  margin-right: 30px;
}

.engage-item:nth-child(3) {
  margin-right: 0;
}

.engage-item-text {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 82px;
  width: 100%;
  color: var(--primary-bg-color);
  background-color: rgba(47, 48, 58, 0.8);
  display: block;
}

.team {
  background-color: var(--secodary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.team-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.team-image {
  width: 100%;
}

.team-item {
  margin-bottom: 30px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc(50% - 30px);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc(25% - 30px);
    margin-right: 30px;
  }
}

.team-info {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
}

.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 16px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-icon {
  fill: rgb(175, 177, 184);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover .team-soc-icon, .team-soc-link:focus .team-soc-icon {
  fill: var(--primary-bg-color);
}

.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients-item {
  margin-left: 30px;
  margin-bottom: 30px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
}

.clients-link {
  width: 210px;
  height: 92px;
  fill: rgb(175, 177, 184);
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients-link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}
.clients-link:hover, .clients-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-title {
  margin: 0 auto;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
}
@media screen and (min-width: 768px) {
  .filter-list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter-list {
    margin-bottom: 0;
  }
}

.filter-item {
  margin-right: 8px;
  margin-bottom: 15px;
}
.filter-item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 1200px) {
  .filter-item {
    margin-bottom: 0;
  }
}

.projects {
  margin-bottom: -30px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-right: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right: -120px;
  }
}

.project-image {
  width: 100%;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-item {
  margin-bottom: 30px;
  cursor: pointer;
  transition: box-shadow 250ms, transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .projects-item {
    width: calc(50% - 30px);
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .projects-item {
    width: calc(33.3333333333% - 60px);
  }
  .projects-item:nth-child(3n) {
    margin-right: 0;
  }
}
.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-border {
  padding: 24px 20px;
  border-bottom: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
}

.projects-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 4px;
}

.project-description-item {
  position: relative;
  overflow: hidden;
}

.project-description {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  transition: transform 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:hover .project-description {
  transform: translateY(0);
  background-color: rgba(33, 150, 243, 0.9);
}

.filter-button {
  display: inline-block;
  border-radius: 4px;
  transition: box-shadow 250ms, color 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: transparent;
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--secodary-bg-color);
  cursor: pointer;
}
.filter-button:hover, .filter-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  transition: box-shadow 250ms, color 250ms, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button--accent {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-top: 30px;
  border-radius: 4px;
  border-width: 0;
  cursor: pointer;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.main-footer {
  background-color: var(--contrast-bg-color);
}

.post-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: var(--primary-bg-color);
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.post-address:hover, .post-address:focus {
  color: var(--accent-color);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  margin-top: 9px;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address:hover, .footer-address:focus {
  color: var(--accent-color);
}

.footer-soc {
  margin-right: 93px;
}

.footer-titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  display: flex;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
}

.footer-soc-icon {
  fill: var(--primary-bg-color);
}
.footer-soc-link:hover .footer-soc-icon, .footer-soc-link:focus .footer-soc-icon {
  fill: var(--primary-bg-color);
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-contacts {
  margin-right: 70px;
}

.main-footer .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}

.button-footer {
  display: flex;
  align-items: center;
  border-radius: 4px;
  border-width: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 29px;
  margin-left: 12px;
  cursor: pointer;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.modal {
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms;
  transform: translate(-50%, -50%) scale(1);
}
.backdrop.is-hidden .modal {
  transform: scale(0.6);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.close-modal:hover {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal-text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-text:focus {
  border-color: var(--accent-color);
}

.modal-field.text {
  margin-bottom: 20px;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap {
  position: relative;
  margin-top: 4px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 8px;
}

.input-check:checked + .check-text::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.check {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.conditions {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
}

.button-modal {
  display: flex;
  border-radius: 4px;
  border-width: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input {
  outline: none;
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: var(--contrast-bg-color);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-subscription {
  display: flex;
}

.icon-subscription {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */