:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secodary-bg-color: #f5f4fa;
  --contrast-bg-color: #2f303a;
}
